:root {
   font-size: 16px; /* 1rem = 16px */
}

body {
   font-family: Arial, sans-serif;
   margin: 0;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
   text-align: center;
}

header h1 {
   font-size: 4rem; /* 64px */
   margin: 5rem 3rem; /* 48px top and bottom */
}

main {
   margin-top: 3rem; /* 48px */
}

main p {
   font-size: 1.5rem; /* 24px */
   margin-bottom: 3rem; /* 48px */
}

.button-container {
   display: flex;
   justify-content: center;
   gap: 2rem; /* 20px */
}

.button-container button {
   font-size: 1.2rem; /* 19.2px */
   padding: 0.7rem 1.35rem; /* 10px 20px */
   cursor: pointer;
   border-radius: 4px;
   border: 0.5px;
   font-size: 2rem;
}

#s {
   background: rgb(253, 109, 13);
   color: white;
}

#s:hover{
   opacity: 80%;
}

#z {
   background: rgb(253, 13, 13);
   color: white;
}

#z:hover{
   opacity: 80%;
}
